/* Author: Krista Allgood
	Date: 12.02.2017
	-Updated 05.23.2019
	Cabbage Head Cafe
*/

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin-left: 0;
    display: flex;
    flex-direction: column;
    font-family: "Dosis", sans-serif;
    overflow-x: hidden;
    background: url(../images/mobile_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body a {
	text-decoration: none;
}

header h1 {
	font-family: "Kreon", serif;
	font-size: 1.8em;
	margin-top: 20%;
}

header h1 a {
	margin-left: 1%;
	color: #2B2533;
}

header p {
	margin-left: 2%;
	color: #2B2533;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: -3%;
}

/***** Hamburger Menu *****/
.navigation {
  transition: 0.3s ease;
  display: none;
  list-style-type: none;
  margin-top: 50%;
  margin-left: -80%;
}

.burgerlink {
	margin: 1%;
	font-weight: bold;
	font-size: 1.1em;
}

.burgerlink a {
	color: #2B2533;
	text-decoration: none;
}

.burgerlink a:hover {
	color: #5d7f47;
}

#menu {
  width: 40px;
  height: 30px;
  z-index: 1;
  position: absolute;
  margin-top: 2%;
  margin-left: 1%;
  cursor: pointer;
}

.menu-bg {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: rgba(241, 241, 241, 0.9);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(241,241,241,0.9) 50%);
  border-bottom: 2px solid #5d7f47;
  transition: 0.3s ease;
  visibility: hidden;
}

#menu-bar {
  z-index: 2;
}

.bar {
	width: 80%;
	height: 6px;
	margin: 4%;
	background-color: #2B2533;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.change {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0;
}

.change .bar {
	border: 2px solid #5d7f47;
}

.change #bar1 {
	height: 80%;
	transform: translateY(6px) rotateZ(-45deg);
	margin-top: -30%;
	margin-left: 30%;
}

.change #bar2 {
  height: 80%;
  transform: translateX(50px);
  transition: 0.3s ease-out;
  opacity: 0;
}

.change #bar3 {
  height: 80%;
  margin-top: -30%;
  transform: translateX(-13px) translateY(5px) rotate(45deg);
}

.change-bg {
  width: 100%;
  height: 70px;
  visibility: visible;
}
/************************/
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.maindiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(241, 241, 241, 0.7);
	color: #2B2533;
}

.maindiv p {
	font-size: 1.2em;
	margin-top: -3%;
}

.maindiv a {
	color: #2B2533;
}

/***Menu buttons***/
.menubtns {
	padding-top: 6%;
	text-align: center;
	border-top: 2px solid #5d7f47;
}

.btn {
	min-width: 30%;
	padding: 3%;
	border-radius: 2%;
	box-shadow: 1px 1px 2px #2B2533;
	background-color: #F1F1F1;
}

.btn:hover {
	box-shadow: 0 1px 2px #2B2533;
	background-color: #5d7f47;
	color: #F1F1F1;
}
/*************/

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 3%;
}

.row img {
	border: 2px solid #2B2533;
}

.col {
	display: flex;
	flex-direction: column;
	padding-left: 3%;
}

footer {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #5B6355;
	border-bottom: 2px solid #5B6355;
	background-color: rgba(93,127,71,.90);
	color: #F1F1F1;
	text-align: center;
}

footer p {
	margin: 1%;
}

footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 0;
	list-style-type: none;
	text-decoration: none;
}

footer a {
	color: #F1F1F1;
}

footer a:hover {
	color: #2B2533;
	border-bottom: 2px groove #2B2533;
}